extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row
            .col-12
                +box-head("danh mục sản phẩm")

    .row
        .col-4.mb-3
            .product-item
                .inner-image
                    img(src="https://cdn11.dienmaycholon.vn/filewebdmclnew/DMCL21/Picture/News/News_expe_9247/9247.png?version=131724", alt="iPhone 16")
                .inner-content
                    h3.inner-title iPhone 16
                    .inner-price-new 80$
                    .inner-price-old 100$
                    .inner-discount -20%